#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install
	python setup.py install --root=debian/django-compat/ --install-layout=deb

override_dh_auto_clean::
	dh_auto_clean
	$(RM) -r django_compat.egg-info/ build/

override_dh_auto_test::
	python runtests.py
